:root {
    --head-bg:#212223;
    --head-a:#393d40;
    --tan-full:#765B41;
    --tan:rgba(118, 91, 65,.2);
    --uic-full:#452923;
    --uic:rgba(69, 41, 35,.9);
    --lightest:#FFFEEF;
    --light:#DBDAC5;
}

* {
    margin:0;
    padding:0;
    transition: all .3s ease;
}

a {
    text-decoration: none;
    color:inherit;
}

body {
    background-image: url('./../images/Shop-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: var(--head-bg);
    position: sticky;
    height:7vh;
    z-index: 50;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 7vh;
    justify-content: flex-start;
    align-items: center;
}

nav ul li a {
    padding:1.5vh;
    margin: 1.5vh;
    background-color: var(--head-a);
    border-radius: 5px;
    flex: 0 1 100%;
    font-size: 1.5vh;
    color: var(--lightest);
    }

.item-sell-space {
    position: absolute;
    display: flex;
    bottom: 0;
    background-color: var(--uic);
    height: 56vh;
    width: 66vw;
    margin:1vh;
    padding: 1vh;
    flex-direction: column;
    border-radius: 15px;
}

.filter-buttons {
    height: 10%;
    display: flex;
    align-items: center;
}

.filter-buttons button {
    height:50%;
    padding:1%;
    margin:1%
}

.item-list {
    height:90%;
    background-color: var(--tan);
    padding: 1vh;
}

.to-the-side {
    height: 100vh;
    width: 25vw;
    position: absolute;
    right:0;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.shopkeeper {
    width: 90%;
    height:30vh;
    margin-bottom:1vh;
}

.cart {
    height: 58vh;
    width: 90%;
    background-color: var(--uic);
    margin-bottom:1vh;
    border-radius: 15px;
}

.item {
    display: flex;
    justify-content:  ;
}